.friendList {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  margin-top: 60px;
  background-color: lightblue;
}

.item {
  list-style: none;
}

.statusOnLine {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: lime;
}
.statusOfLine {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
}

.avatar {
  display: block;
  margin-top: 5px;
}

.name {
  font-weight: 600;
}
